# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_test_397595a9b9b16e77bd6415438ab2a490d3aaafe099bf5
# Set the environment for your application, e.g. "development"
NODE_ENV= "development"
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_test_3975923fb338f1b28fe60f5cd216cfa5828033c302edf
CHEC_API_URL=https://api.chec.io